@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
  box-sizing: border-box;
  outline: none !important;
  border: none;
  text-decoration: none;
}

body {
  align-items: center;
  background-color: #212121;
}

.align {
  padding: 1rem;
}

/* Profile */
.pp {
  background-color: #343a3e;
  padding: 3rem 3rem;
  border-radius: 15px;
  display: flex;
}

.pp img {
  width: 8rem;
  border-radius: 90%;
}

.pp h1 {
  color: #fafafa;
  font-size: 40px;
  padding-left: 2rem;
  padding-top: 1.3rem;
}

.pp p {
  font-size: 20px;
  padding-left: 2rem;
  color: #8d8d8d;
  font-weight: lighter;
}

/* About Me */
details {
  background-color: transparent;
  border: 2px solid #343a3e;
  padding: 2rem 3rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #fafafa;
}

details[open] summary {
  padding-bottom: 1.4rem;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

/* Card 1 */
.card1 {
  background-color: #e74d89;
  width: 100%;
  padding: 2rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 20px;
  color: #fafafa;
}

.card1 h3 {
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 20px;
}

.card1 h1 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 900;
}

.link1 {
  background-color: #fafafa;
  font-weight: bold;
  font-size: 15px;
  color: #212121;
  padding: 1rem 1.7rem;
  border-radius: 90px;
}

/* Card 2 */
.card2 {
  background-color: #1869ff;
  width: 100%;
  padding: 2rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 20px;
  color: #fafafa;
}

.card2 h3 {
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 20px;
}

.card2 h1 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 900;
}

.link2 {
  background-color: #fafafa;
  font-weight: bold;
  font-size: 15px;
  color: #212121;
  padding: 1rem 1.7rem;
  border-radius: 90px;
}

/* Card 3 */
.card3 {
  background-color: #343a3e;
  width: 100%;
  padding: 2rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 20px;
  color: #fafafa;
}

.card3 h3 {
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 20px;
}

.card3 h1 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 900;
}

.link3 {
  background-color: #fafafa;
  font-weight: bold;
  font-size: 15px;
  color: #212121;
  padding: 1rem 1.7rem;
  border-radius: 90px;
}

/* Media Queries */

/* Tablet */
@media (max-width: 800px) {
  html {
    font-size: 150%;
  }
}

/* Mobile Phone */
@media (max-width: 428px) {
  html {
    font-size: 55%;
  }
  .pp {
    background-color: #343a3e;
    padding: 2rem 1.3rem;
    border-radius: 10px;
    display: flex;
  }

  .pp img {
    width: 5.5rem;
    border-radius: 90%;
  }

  .pp h1 {
    color: #fafafa;
    font-size: 19px;
    padding-left: 2rem;
    padding-top: 0.4rem;
  }

  .pp p {
    font-size: 13px;
    padding-left: 2rem;
    color: #8d8d8d;
    font-weight: lighter;
  }

  details {
    background-color: transparent;
    border: 2px solid #343a3e;
    padding: 2rem 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fafafa;
    text-decoration: none;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /* Card 1 */
  .card1 {
    background-color: #e74d89;
    width: 100%;
    padding: 2rem 3rem;
    padding-bottom: 5rem;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 20px;
    color: #fafafa;
  }

  .card2 {
    background-color: #1869ff;
    width: 100%;
    padding: 2rem 3rem;
    padding-bottom: 5rem;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 20px;
    color: #fafafa;
  }

  .card3 {
    background-color: #343a3e;
    width: 100%;
    padding: 2rem 3rem;
    padding-bottom: 5rem;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 20px;
    color: #fafafa;
  }
}
